@import 'mixins';

html {
  --background: rgba(255, 255, 255, 1);
  --primary-color: rgba(75, 75, 75, 1);
  --primary-color-lighter: rgba(75, 75, 75, .6);
  --secondary-color: rgba(255, 255, 255, 1);
  --secondary-color-lighter: rgba(255, 255, 255, .6);
  --active-color: rgba(34, 135, 248, 1);
  --disabled-color: rgba(240, 240, 240, 1);

  --size-tiny: 11px;
  --size-small: 13px;
  --size-regular: 14px;

  &[data-theme="dark"] {
    --background: rgba(51, 51, 51, 1);
    --primary-color: rgba(216, 216, 216, 1);
    --primary-color-lighter: rgba(216, 216, 216, .6);
    --secondary-color: rgba(255, 255, 255, 1);
    --secondary-color-lighter: rgba(255, 255, 255, .6);
    --active-color: rgba(34, 135, 248, 1);
    --disabled-color: rgba(83, 82, 82, 1);
    --disabled-color-darker: rgba(83, 82, 82, .6);
  }
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: var(--background);
  @include transition(background-color);
  @include transition(background-color);
}
