.app-wrapper {
  padding: 16px 8px;
}

.app-content {
  margin: 0 auto;
}

@media (min-width: 576px) {
  .app-content {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .app-content {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .app-content {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .app-content {
    max-width: 1140px;
  }
}
